.venv/
__pycache__/
*.py[cod]
*.class
.env
*.env
*.log
*.sqlite3
*.db
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
node_modules/
*.pyc
.vscode/
*.sqlite
*.sqlite3
.env
*.swp
*.swo
*~
